.things {
    margin: 70px 0px;
    .listheading {
        margin-left: 30px;
        font-size: 18px;
        color: rgba(56, 53, 53, 0.824);
        font-weight: 20px;
    }
    .list {
        font-size: 14px;
        color: rgba(32, 30, 30, 0.865);
    }
}