.things {
    margin: 80px 0px;
    .listheading {
        margin-left: 16px;
        font-size: 22px;
        color: rgba(56, 53, 53, 0.824);
        font-weight: 20px;
    }
    .list {
        font-size: 16px;
        color: rgba(32, 30, 30, 0.865);
    }
}